body, html {
    height: 100%;
    margin: 0;
    background-image: url('/home/infinity/Desktop/prototype/assets/login_background.JPG');
    background-size: cover;
    background-position: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#loginFormContainer {
    background: #ffe6f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 400px;
    animation: slideIn 0.8s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#loginButton {
    margin-top: 10px;
}

.toggle-eye {
    position: absolute;
    top: 70%;
    right: 15px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    z-index: ;
}

.toggle-eye:hover {
    opacity: 0.7;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #e74c3c;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 9999;
    font-size: 16px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
